#story{
  margin-left: 1100px;
}
.form-control{
width: 20%;
}
.blanks{
  font-size: 20px;
}
#introductoryline{
  margin-top: 15px;
}
.salutation{
  margin-left: 1000px;
}
.namee{
  margin-left: 1000px;
}
.lorem{
  display: none;
}